@font-face {
    font-family: "Mojang Regular";
    src: url(Mojang-Regular.ttf);
    background-repeat: no-repeat;
}


html{
    font-family: "Mojang Regular";
    background-repeat: repeat;
    background-size: 100vw;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #fdfefe ;
    border-radius: 5px;
}

nav ul{
    list-style-type: none;
    display: flex;
    font-size: 20px;

}

nav ul li{
    margin-right: 40px;
}


nav a {
    color: #000000;
    text-decoration: none;
    position: relative; 
    padding-bottom: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease; /* rychlejší animace */
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;     
    left: 0;
    width: 99%;
    height: 2px;
    background-color: #9D00FF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

nav a:hover::after {
    transform: scaleX(1);
}

nav a:hover {
    color: #9D00FF; /* nová modrá barva */
    text-shadow: 0 0 2px #5597EE, 0 0 4px #9D00FF; /* jemný glow */
}






/* Animace zprostøedka do stran */
@keyframes underlineAnim {
    0% {
        width: 0;
        left: 50%;
    }
    40% {
        width: 80%;
        left: 10%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}


nav img{
    width: 45px;
}

.obalka{
    border-radius: 10px;
}

.hrac{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    background-color: #FBFFFE;
    border: #2C363F solid 1px;
    text-transform: uppercase;
    
}

.obsah{
    display: flex;
    flex-wrap: wrap;
}

#podtrzeni {
    color: #9D00FF;
    text-shadow: 0 0 2px #5597EE, 0 0 4px #9D00FF;
}

#podtrzeni::after {
    transform: scaleX(1);
}

h1 {
    text-align: center;
    margin-top: 20px;
	margin-bottom: 15px;
    text-transform: uppercase;
    color: #000000;
    font-size: 120px;
	border-radius: 7px;
    padding: 44px;
    background-image: url(https://art.pixilart.com/sr2855b91c86fe1.png) ;
	background-size: 1024px 1024px;
	background-position: 0px 0px
}


h2{
    font-size: 40px;
	text-transform: uppercase;
    color: #000000;
}

.ip h2 {
    color: #dc3545;
}

.players h2 {
    color: #28a745;
}

.start h2 {
    color: #007BFF;
}


h4{
    font-size: 20px;
	color: #ffffff;
}

h5{
	font-size: 60px;
	text-transform: uppercase;
    color: #000000;
}

h6{
	font-size: 40px;
    color: #000000;
}

.uvod_obalka {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

.uvod_prvek {
    border-radius: 7px;
    width: 33%;
    height: 15vh;
    margin: 10px;
    padding: 10px;
    background-color: rgba(158, 159, 163, 0.85);
    text-align: center;
}

.uvod_prvek h2,
.uvod_prvek h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.discord_prvek h5,
.discord_prvek h6 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.discord_obalka {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	margin-top: 80px;
}

.discord_prvek {
	border-radius: 7px;
    width: 33%;
    margin: 2px;
    padding: 40px;
    background-color: rgba(158, 159, 163, 0.85);
    text-align: center;
}

body.indexpage {
    background-image: url("indexbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.rulespage {
    background-image: url("rules.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.dynmappage {
    background-image: url("dynmap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.gallerypage {
    background-image: url("gallery.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.discordpage {
    background-image: url("discord.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.mapa-obalka {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 15px;
}

.mapa-obalka iframe {
    width: 100%;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.rules-box {
    width: 100%;
    max-width: 1200px;
    min-height: 440px;
    margin: 40px auto 0px auto;
    padding: 30px 60px 60px 60px;
    background-image: url("https://i.imgur.com/QXwQj3v.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -20px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 22px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px #000000;
}


.rules-box h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;
}

.rules-box h2::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background-color: #000000;
    margin: 1px auto 0 auto;
    border-radius: 2px;
}


.rules-box ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.rules-box li {
    margin-bottom: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* vìtší mezery mezi obrázky */
    padding: 40px; /* mezera od kraje stránky */
}

.gallery img {
    width: 47%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.03);
}

	



@media only screen and (max-width: 600px) {
    
h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #000000;
    font-size: 80px;
    text-align: center;
    border-radius: 7px;
    padding: 20px;
    background-image: url(https://art.pixilart.com/sr2855b91c86fe1.png) ;
    background-size: 1024px 1024px;
    background-position: -5px 0px;
}

h1 span {
    display: inline-block;
}

.banda,
.idiotu { 
	margin-left: 10px;

}

nav {
    display: flex;
    justify-content: center;
    background-color: #fdfefe;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
	text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav img {
    width: 45px;
}


.uvod_obalka {
    display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.uvod_prvek {
    border-radius: 7px;
    width: 84%;
    height: 22vh;
    margin: 10px;
    padding: 10px;
    background-color: rgba(158, 159, 163, 0.85);
    text-align: center;
}


.players h2 {
    margin: 50px 10px 10px 10px;
} 

.discord_obalka {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	margin-top: 30px;
}

.discord_prvek {
	border-radius: 7px;
    width: 80%;
    margin: 2px;
    padding: 20px;
    background-color: rgba(158, 159, 163, 0.85);
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.gallery img {
    width: 120%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.rules-box {
    width: 67%;
    max-width: 1200px;
    min-height: 440px;
    margin: 40px auto 0px auto;
    padding: 30px 60px 60px 60px;
    background-image: url("https://i.imgur.com/QXwQj3v.png");
	background-position: -120px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 22px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px #000000;
}


.rules-box h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;
}

} 